{% extends "base.njk" %}

{% block content %}
<div ng-controller="indexController">
    <h3 data-i18n="Blacknet Stakepool Status">Blacknet Stakepool Status</h3>
    <table id="index-table">
        <tr>
            <td data-i18n="Staking Balance">Staking Balance</td>
            <td width="70%">
                <span class="strong">${website_data.hashrate} BLN</strong>
            </td>
        </tr>
        <tr>
            <td data-i18n="Workers">Workers</td>
            <td width="70%">
                ${website_data.number}
            </td>
        </tr>
        <tr>
            <td data-i18n="Last Found">Last Found</td>
            <td width="70%">
                <a href="/payouts/${website_data.blockHeight}">${website_data.blockHeight}</a>
            </td>
        </tr>
        <tr>
            <td data-i18n="Last Found Time">Last Found Time</td>
            <td width="70%">
                ${website_data.time | realstr}
            </td>
        </tr>
    </table>
    <h3 data-i18n="Start Mining">Start Mining</h3>
    <h4 class="text-center" data-i18n="Lease coins to">Lease coins to:</h4>
    <div class="start-mining" id="start-mining">
         <span class="strong">${website_data.poolOwner}</span>
    </div>
    <h4 class="text-center" data-i18n="Use Mobile Wallet Scan QR Code">Use Mobile Wallet Scan QR Code</h4>
    <div class="text-center" style="margin-top: 40px">
        <img src="/images/qrcode.png"/>
    </div>
    
</div>
{% endblock %}