{% extends "base.njk" %}

{% block content %}
    <h3 data-i18n="Recent Payouts">Recent Payouts</h3>
    
    <table id="block-table"  ng-controller="recent_payouts">
        <thead>
            <tr>
                <td class="narrow" data-i18n="Height">Height</td>
                <td class="narrow" data-i18n="Account">Account</td>
                <td class="right" data-i18n="Reward">Reward</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="payout in payments">
                <td><a target="_blank" href="https://blnscan.io/${payout.blockHeight}">${payout.blockHeight}</a></td>
                <td class="address"><a target="_blank" href="https://blnscan.io/${payout.txid}">${payout.account}</td>
                <td class="right"><span class="strong">${payout.amount | currency} BLN</span></td>
            </tr>
        </tbody>
    </table>
{% endblock %}